* {
  text-decoration: none;
  box-sizing: border-box; /* Responsive grid-view */
}

header {
  font-family: Garamond;
  font-size: 24;
  font-weight: 900;
  color: #111;
  display: block;
  margin: auto 0; 
  text-align: center;
  top: 0px;
  padding-bottom: 10px;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  position: fixed;
  
}

nav {
  padding-top: 10px;
}

header nav li h1 {
  /* padding-top: 20px; */
}

header nav ul {
  display: block;
  margin: auto auto; 
  width: fit-content;
}

header nav li {
  float:left;
  padding-left: 20px;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  float: left; /* Remove the clickable gap between the links */
  list-style: none; /* Remove the bullets */
  padding: 0 8px;
  padding-right: 20px; 

}



header nav ul li a:hover {
  background-color: #ddd;
  color: black;
}

header nav ul li a:active {
  background-color: #0000ff;
  color: black;
}

/* Hide menu icon on tablets and Computers */
@media (min-device-width: 800px){
    header nav ul li a.menu_icon img {
        display:none;
        padding-right: 20px;
    }
}

/* Header on small devices Padding  */
@media (max-device-width: 800px){
    header nav ul li{

        padding-left: 80px;
    }
}

/* Hide Register,Login, Contact, About  on mabile devices*/
@media (max-device-width: 600px){
    header nav ul li:nth-child(1), header nav ul li:nth-child(2), 
    header nav ul li:nth-child(3), header nav ul li:nth-child(4),
    header nav ul li:nth-child(5) {
        display:none;
    }
}

