
* {
  padding: 0px;
  margin: 10px;
  font-family: 'Muli', sans-serif;
}

body {
  background-color: #f3f3f3;
  border: solid 1px #d1d1d1;
  border-top-right-radius: 15px 50px; 
  border-bottom-left-radius: 15px 50px; 
  box-shadow: 2px 1px 15px rgba(0,0,0,0.1);
}

.todo{
  display: flex;
  flex-wrap: nowrap;
}

header a {
  text-decoration: none;
}

header a:hover {
  color: #6699ff;
}

nav {
  display: flex;
  width: 30%;
  overflow: hidden;
  flex-direction: column;
  max-height: 100vh;
  border-right: solid 1px #d1d1d1;
  box-shadow: 2px 1px 15px rgba(0,0,0,0.1);
  z-index: 10;
}

.todo nav ul li{
  background-color: #0000ff;
  padding: 20px;
  margin-bottom: 6px;
  color:#ffffff;
  font-weight: 600;
  border-left: solid 4px rgba(0,0,0,0.1);
  margin-left: 4px;
  cursor: pointer;
}
.todo nav ul li:hover{
  border-left: solid 4px #fcc728;
  color: #6699ff;
}

.panelD{
  width: 100%;
  overflow:auto;
  max-height: 100vh;
}

header {
  height: 70px;
  width: 100%;
  border-bottom: solid 1px #d1d1d1;
  background-color: #0000ff;
  position: sticky;
  top: 0px;
  box-shadow: 1px 2px 15px rgba(0,0,0,0.1);
  z-index: 11;
}
header a {
  color: #ffffff;
}

header a:hover{
  cursor: pointer;
}

.dash_contents {
  font-weight: 400;
  font-size: 1.3em;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  text-decoration: underline;
  
}

.panelD h2{
  font-weight: 200;
  font-size: 1.2em;
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
  color: #333333;
  margin-bottom: 5px;
}

.tables {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 10px;
  filter: drop-shadow(0px 6px 0px #0000ff);
}
.tables table{
  text-align: center;
  padding: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.tables table tr th{
  font-size: 1em;
  font-weight: 300;
  border: solid 1px #ededed;
  padding:3px 0px 3px 0px;
  background-color: #fff;
}

.forms {
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  border: 1px solid;
}

#display_none {
  display: none;
}

.submitbtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
